{% extends "base.html" %}

{% block title %}
  Anoteer | {% if form.instance.pk %}Edit{% else %}Create{% endif %} Label
{% endblock %}

{% block content %}
    <div class="mb-3">
  <a href="{% url 'projects:project_detail' project.id %}" class="text-decoration-none">
    <i class="bi bi-arrow-left"></i> Back to Project
  </a>
</div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">
            {% if form.instance.pk %}
              <i class="bi bi-pencil-square"></i>
              Edit Label
            {% else %}
              <i class="bi bi-plus-lg"></i>
              Create Label for Project {{ project.name }}
            {% endif %}
          </h5>
        </div>
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}

            <!-- Label field -->
            <div class="mb-3">
              {{ form.label.label_tag }}
              {{ form.label }}
              {% if form.label.errors %}
                <div class="invalid-feedback d-block">
                  {{ form.label.errors|striptags }}
                </div>
              {% endif %}
            </div>

            <!-- Value field -->
            <div class="mb-3">
              {{ form.value.label_tag }}
              {{ form.value }}
              {% if form.value.errors %}
                <div class="invalid-feedback d-block">
                  {{ form.value.errors|striptags }}
                </div>
              {% endif %}
            </div>


            <!-- Buttons -->
            <div class="d-flex justify-content-end">
              <a href="{% url 'projects:project_list' %}" class="btn btn-secondary me-2">
                Cancel
              </a>
              <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}Save Changes{% else %}Create Project{% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
