{% extends "base.html" %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Annotation</title>
</head>
<body>
    <h2>Projekt: {{ project.name }}</h2>

    <div style="border: 1px solid #ccc; width: 100%; height: 25px; border-radius: 5px; overflow: hidden; background-color: #e9ecef; margin-top: 10px;">
        <div style="height: 100%; width: {{ progress_percent }}%; background-color: #0d6efd;"></div>
    </div>

    <p>Du hast {{ annotated_by_user }} / {{ total_dataitems }} verpflichtende Annotationen erledigt.</p>

    <div>
        <h3>Instructions</h3>
        <div style="border:1px solid #ccc; padding:10px;">
            {{ project.instructions|linebreaks }}
        </div>
    </div>


    <div>
        <h3>Text</h3>
        <p>{{ dataitem.text }}</p>
    </div>


    <form method="post">
        {% csrf_token %}

        <h3>Labels:</h3>
        {% if project.label_type == "SI" %}
            {% for label in project.label_set.all %}
                <label>
                    <input type="radio" name="label" value="{{ label.pk }}">
                    {{ label.value }}
                </label><br>
            {% endfor %}
        {% elif project.label_type == "MU" %}
            {% for label in project.label_set.all %}
                <label>
                    <input type="checkbox" name="labels" value="{{ label.pk }}">
                    {{ label.value }}
                </label><br>
            {% endfor %}
        {% endif %}

        <button type="submit">Save</button>
        <!--button type="button" onclick="window.history.back();">Back</button-->
    <a href="{% url 'projects:project_detail' project.pk %}">
    <button type="button">Back</button>
    </a>

    </form>
</body>

</html>
{% endblock %}
